.avatar {
    margin-top: 15px; /* Increase the space above the avatar */
  }

.article-style {
    margin-top: 25px; /* Increase the space above the avatar */
  }

/* Rectangle styles */
.rectangle {
  width: 250px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: #294b4b;  /* Text color */
  text-decoration: none;
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}

.rectangle:hover {
  transform: scale(1.1);
  text-decoration: none;
}

/* Container layout */
.rectangle-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 50px;
}

/* Text styling */
.rectangle-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rectangle i {
  margin-right: 8px;  /* Adjust spacing as needed */
}

.people-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.people-entry {
  font-size: 0.7rem; /* Make the font size smaller */
  line-height: 1.4; /* Adjust line height for readability */
  margin-bottom: 0.5em;
  text-align: left; /* Align text to the left */
}

.people-entry a {
  text-decoration: none;
}

.people-entry a:hover {
  text-decoration: underline;
}

/* Two-column layout adjustments */
.people-columns {
  display: flex;
  flex-wrap: wrap;
}

.people-entry {
  margin-bottom: 1em;
  text-align: left; /* Ensure alignment is left */
}

.section-heading h1,
.section-heading p {
  text-align: left; /* Align the section title and subtitle to the left */
}
