.avatar {
    margin-top: 15px; /* Increase the space above the avatar */
  }

.article-style {
    margin-top: 25px; /* Increase the space above the avatar */
  }

  .circle {
    width: 120px;
    height: 120px;
    background: linear-gradient(to bottom, #e0e0e0, #c5ccd2);
    border: 0px solid #c5ccd2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 58px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: inset 0 6px 8px rgba(0, 0, 0, 0.2), 
                0 10px 15px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
  }
  
  .circle:hover {
    transform: scale(1.1);
    text-decoration: none;
    background: linear-gradient(to bottom, #e0e0e0, #c5ccd2);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
  }
  
  .circle-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 50px;
  }
  
  .circle-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .circle-item p {
    margin-top: 20px;
    font-weight: bold;
  }
  
